/* Style for the contact form */
.contact-form {
    max-width: 50%;
    margin: 0 auto;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button[type="reset"] {
    background-color: #ff1919;
    margin-left: 10px;
}

/* Style for the file upload form */
.file-upload-form {
    max-width: 400px;
    margin: 20px auto;
}

.label[for="filename"] {
    display: block;
    margin-bottom: 5px;
}

.inputFile[type="file"] {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*end the styling of the uploading form */


/*GitHub styling starts here */

.GitHub_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .GitHub_button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .GitHub_button svg path {
    transition: 400ms;
  }
  
  .GitHub_button:hover {
    background-color: transparent;
  }
  
  .GitHub_button:hover .text {
    color: #181717;
  }
  
  .GitHub_button:hover svg path {
    fill: #181717;
  }

  .githubText {
    text-decoration:none;
  }
  /*GitHub styling ends here */


 .container-chat{
  position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*background: linear-gradient(to right, #021B79, #0575E6); @Alex you can add something like that here*/
}

.chatContainer {
    
  position: relative;
  max-width: 555px;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.65);
  height: 85vh;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
}

.chatHead{
  width: 100%;
  display: flex;
  background-color: #fbff08;
  align-items: center;
}

.chatHead p{
  margin: 10px auto;
  text-align: center;
  font-family: 'Poppins';
  color: rgb(0, 0, 0);
  font-weight: 500;
}


.usersCount{
  color: rgb(0, 0, 0);
  align-items: center;
  position: absolute;
  right: 10px;
}

.usersCount span{
  font-family: 'Poppins';
  letter-spacing: 2px;
  margin-left: 4px;
}

.usersCount i{
  font-size: 14px;
}


#messageForm{
  display: flex;
  max-width: 545px;
  position: absolute;
  bottom: 4px;
  left: 0;
  margin: 5px 5px;
  width: 100%;
}

#messageForm input{
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 60px 8px 10px;
  font-weight: 500;
  font-family: 'Poppins';
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
}

#sendBtn{
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background-color: #000000;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: .3s;
  font-family: 'Poppins';
  font-weight: 500;
}

#sendBtn:hover{
  background-color: #0080ff;
}


.chattings{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  overflow-y: auto;
  margin-bottom: 30px;
}


.chattings::-webkit-scrollbar{
  width: 6px;
}


.chattings::-webkit-scrollbar-thumb{
  width: 6px;
  border-radius: 4px;
  background-color: #0080ff;
}


.message{
  font-family: 'Poppins';
  color: white;
  background-color: #0080ff;
  max-width: 35%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 12px;
  word-wrap: break-word;
  padding: 8px 10px;

}

.message span{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.637);
}

.message p{
  margin: 0;
  margin-top: 2px;
  font-size: 1rem;
}

.message i{
  position: absolute;
  bottom: -5px;
  color: rgb(195, 1, 1);
  font-size: 13px;
  display: none;
}

.center{
  align-self: center;
  border-radius: 8px;
  background-color: #0576e685;
  color: rgb(16, 16, 16);
  text-align: center;
}

.message.center p{
  font-size: 12px;
}

.message.liked i{
  display: flex;
}

.right{
  border-radius: 16px;
  border-bottom-right-radius: 0;
  align-self: flex-end;
}

.left{
  border-radius: 16px;
  border-bottom-left-radius: 0;
  align-self: flex-start;
}

.noAccess{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Poppins';
  color: rgb(255, 255, 255);
  text-align: center;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  box-sizing: border-box;
  padding: 0 20px;
}

/* Only Add When Needed */
.serverFull{
  position: absolute;
  bottom: 0;
  color: #0080ff;
  display: none;
  font-family: 'Poppins';
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.serverFull.active{
  display: flex;
  justify-content: center;
}