/* styles for desktop devices */
@media only screen and (min-width: 992px) {   
  body {     
      font-size: 16px;     
      width: 80%;     
      margin: auto;   
  } 
} 
/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {     
      font-size: 14px;     
      width: 90%;     
      margin: auto;   
  } 
} 
/* styles for mobile devices */
@media only screen and (max-width: 767px) {   
  body {     
      font-size: 12px;     
      width: 100%;     
      margin: 0;  
  } 
}

/* Style for the contact form */
.contact-form {
    max-width: 50%;
    margin: 0 auto;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button reset {
    background-color: #ff1919;
    margin-left: 10px;
}

.button submit {
    background-color: #28a745;
}

/* Style for the file upload form */
.file-upload-form {
    max-width: 400px;
    margin: 20px auto;
}

.label[for="filename"] {
    display: block;
    margin-bottom: 5px;
}

.inputFile[type="file"] {
    width: 100%;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*end the styling of the uploading form */


/*GitHub styling starts here */

.GitHub_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .GitHub_button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .GitHub_button svg path {
    transition: 400ms;
  }
  
  .GitHub_button:hover {
    background-color: transparent;
  }
  
  .GitHub_button:hover .text {
    color: #181717;
  }
  
  .GitHub_button:hover svg path {
    fill: #181717;
  }

  .githubText {
    text-decoration:none;
  }
  /*GitHub styling ends here */